html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", "Ubuntu", sans-serif;

  color: var(--color);
  background-color: var(--bg-color);
  margin: 0;
}

.is-transparent {
  background-color: transparent;
}
