@import './vendors/tailwindcss';
@import './fonts/major-mono-display';
@import './fonts/roboto';
@import './fonts/inter';
@import './fonts/nunito';

html,
body {
    // padding: 0;
    // margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: var(--interFontFamily), -apple-system, system-ui, sans-serif;
}

* {
    // box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--interFontFamily), -apple-system, system-ui, sans-serif;
}

.logo {
    font-family: var(--majorMonoDisplayFontFamily);
}

.hero-big-text {
    font-size: clamp(40px, 8vw, 80px);
    margin-bottom: 1.5rem;
}

.get-in-touch-big-text {
    font-size: clamp(40px, 8vw, 60px);
    margin-bottom: 1.5rem;
}

.section-title {
    position: relative;
    margin-bottom: 1rem;
    &:before {
        content: '';
        display: block;
        width: 500px;
        border-top: 1px solid #00CC99;
        transform: translate(-105%, 12px);
    }
}

.experience-title {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:after {
        content: '';
        display: block;
        flex-grow: 1;
        border-top: 1px solid #00cc99;
        margin-left: 1rem;
    }
}